body{
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    width: 350px;
    position: relative;
    left: 500px;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form h1{
    font-size: 30px;
    background-color: violet;
    width: 350px;
    text-align: center;
    border-radius: 10px 10px 0px 0px; 
    padding-bottom: 7px;
    margin-top: -0px;
  
}

form input{
    width: 300px;
    height: 40px;
    position: relative;
    left: 15px;
    font-size: 17px;
    padding-left: 20px;
    background-color:powderblue;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

form input:focus{
    outline: 2px solid violet;
}


form button{
    width: 320px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: violet;
    position: relative;
    left: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;

}

span{
    font-size: 17px;
    color: red;
    position: relative;
    top: -13px;
    left: 20px;
}